# Ignore Everything
*


# Except (note: needed to add the directory first, then files)
!/data
!/data/captions_train_clean_complete.csv
!/data/wordnet(individual tokens).csv
!/data/README.md
!.gitignore
!task1_semeval2023.ipynb
